#header{
    text-align: center;
    width: 20%;
    margin: auto;
}
#list{
   width: 5%;
   margin: auto;
   text-align: center;
}
#item{
    padding:5px;
}

#week01{
    
    width: 20%;
    margin: auto;
}