.image{
    width: 100px;
    height: 100px;
    float: left;
}
.title{
    color: red;
    margin-right: 20px;
}
#list > div{
   
}
#list > div:hover{
    background-color: grey;
   
}
#list > div > div{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
#background{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: grey;
    margin-right: 10%;
    margin-left: 10%;
    border: 2px solid gray;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 10px rgb(97, 72, 72);
    box-shadow: 0 0 10px rgb(97, 72, 72);
}